* {
	font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  position: unset !important; /*override ionic fixed position*/
  overflow: auto !important; /*override ionic hidden overflow*/
}

.header {
    background-color: #66CCFF;
    padding: 8px 10px;
}

.header__title {
    font-size: 18px;
    color: #1E2834;
    font-weight: 600;
}

.main-container {
    padding: 10px;
    margin-bottom: 70px;
}

.manual-map__title {
    size: 18px;
    color: #1E2834;
    font-weight: 600;
    margin-bottom: 10px;
}

.manual-map {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 30px 4fr 30px 4fr 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.manual-map__step-title {
    color: #0D4262;
    font-size: 12px;
    white-space: nowrap;
}

.manual-map__step {
    border-radius: 50%;
    background-color: #F6D579;
    color: #735910;
    font-size: 12px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-map__step--active {
    background-color: #66CCFF;
    color: #fff;
}

.manual-map__divider {
    width: 100%;
    border-top: 2px dotted #1E2834;
    height: 1px;
}

.add-space__title {
    color: #1E2834;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 9px;
}

.add-space__combobox-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-space__combobox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #939DAB;
    border-radius: 8px;
    font-size: 12px;
    width: 100%;
    max-width: 220px;
}

.add-space__combobox-text {
    font-size: 12px;
    font-weight: 600;
    color: #1E2834;
}

.add-space__combobox-text--title {
    color: #939DAB;
}

.add-space__combobox-text--default {
    letter-spacing: 0;
    color: #CCD3DE;
}

.add-space__button {
    letter-spacing: 0;
    color: #66CCFF;
    border: 1px solid #66CCFF;
    border-radius: 16px;
    padding: 8px 20px;
    font-size: 12px;
}

.footer {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.footer__button-save {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #66CCFF;
    border-radius: 24px;
    color: #66CCFF;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 21px;
    margin-left: 10px;
}

.footer__button-publish {
    background: #92F18F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 24px;
    margin-right: 10px;
}

.content {
    width: 100%;
  }
.space {
  white-space: nowrap;
  overflow-x: auto;
}

.block {
  width: 120px;
  height: 120px;
  margin: 5px 20px 10px 0;
  display: inline-block;
  border-radius: 8px;
  position: relative;
}

.block-add {
  width: 120px;
  height: 120px;
  margin: 5px 20px 10px 0;
  display: inline-block;
  border-radius: 8px;
  background-color: #F0F4FA;
  position: relative;
}

.icon-add {
  color: #fff;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.block02 {
  background-color: blue;
}

.block03 {
  background-color: pink;
}

.block04 {
  background-color: gray;
}

.block05 {
  background-color: black;
}

.block06 {
  background-color: purple;
}

.block07 {
  background-color: purple;
}

.block08 {
  background-color: purple;
}

.block09 {
  background-color: purple;
}

.drop-box {
  width: 200px;
  height: 50px;
  border: 1px solid #000;
}

.grab-icon {
  cursor: move;
  cursor: -webkit-grabbing;
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  margin: 0 15px 0 5px;

}

input[type='checkbox'] {
  display: none;
}

.collapsible-menu__label-toggle {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0;
  cursor: pointer;
  margin: 0;
  font-weight: normal;
  color: #1E2834;

}

.collapsible-menu__arrow {
  transition: transform .2s ease-out;
  float: right;
  margin-right: 5px;
  padding: 2px 0px;
}

.toggle:checked + .collapsible-menu__label-toggle > .collapsible-menu__arrow {
  transform: rotate(-180deg);
}

.collapsible-menu__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.collapsible-menu__first-menu {
  -bottom: none;
}

.toggle:checked + .collapsible-menu__label-toggle + .collapsible-menu__content {
  max-height: 350px;
}

.toggle:checked + .collapsible-menu__label-toggle {
  -bottom-right-radius: 0;
  -bottom-left-radius: 0;
}

.collapsible-menu__content .collapsible-menu__content-inner {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  display: flex;
}

.collapsible-menu__content-inner .item{
  color: red;
  font-size: 16px;
}

.space-list-item {
  background-color: #F0F4FA;
}

.block-add-title {
  color: #1E2834;
  font-size: 14px;
}

.block-container {
  display: inline-block;
}

.block-description {
  width: 120px;
  height: 52px;
  white-space: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 12px;
  color: #707070;
}

.grab-icon-block {
  display: block;  
  width: 20px;
  height: 20px;
}

ion-header {
  background-color: #66CCFF;
  padding: 8px 10px;
  font-size: 18px;
  color: #1E2834;
  font-weight: 600;
}

ion-toolbar {
  --background: #66CCFF;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
}

.photo-item--selected {
  border: 2px solid #66CCFF;
}

.photo-item {
  overflow: hidden;
  background-color: gray;
  margin: 5px;
  position: relative;
}
.photo-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.check-icon {
  color: #fff;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.photo-selection-text {
  display: flex;
}

.photo-selection__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E2834;
  font-size: 18px;
  font-weight: 600;
}

.selected-photos-counter {
  color: #1E2834;
  font-size: 18px;
  font-weight: 600;
  margin: 0 5px;
}

.photo-selection-button {
  border-radius: 16px;
  background-color: #66CCFF;
  height: 32px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.icon-photo-number {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  background-color: #939DAB;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-display-header {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.photo-display-header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.photo-display-footer {
  background-color: rgba(0, 0, 0, 0.6);
}

.block-gallery {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  margin: 10px 5px;
  position: relative;
}

.gallery-icons {
  width: 25px;
  height: 25px;
  color: #fff;
}

.gallery-main-image {
  background-image: url("./../images/png/untitled.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shiny-star {
  color: #FFE321;
}

.details-container {
  padding: 0 10px;
}

.details-container__title {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #1E2834;
  font-weight: 600;
}

.details-container__photo {
  display: flex;
  justify-content: center;
}

.details-container__image {
  max-width: 100%;
  border: 0;
  height: 70vh;
  border-radius: 8px;
}

.details-container__header {
  display: flex;
  align-items: center;
  background-color: #66CCFF;
  height: 40px;
}

.details-container__header-title {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.details-container__description {
  margin: 10px 0;
  width: unset;
}

.block-details {
  margin: 10px 0 10px 0;
}

.details-container__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details-container__details {
  color: #1E2834;
  font-size: 18px;
  font-weight: 600;
}

.footer__button-create {
  background: #66CCFF 0% 0% no-repeat padding-box;
  border-radius: 23px;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 24px;
  margin-right: 10px;
}

.element-hide {
  display: none;
}

.create-category__title {
  font-size: 14px;
  color: #1E2834;
  font-weight: 600;
  margin-bottom: 9px;
}

.create-category__input {
  border-radius: 8px;
  border: 1px solid #939DAB;
  margin-bottom: 15px;
  height: 32px;
  width: 100%;
  padding: 7px 12px;
  font-size: 12px;
}

.create-category__combobox {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #939DAB;
  border-radius: 8px;
  width: 100%;
  font-size: 12px;
  height: 32px;
}

.block-gallery-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.block-gallery-container {
  position: relative;
}


.comment-input {
  background-color: white;
  margin: 0 10px 5px;
  border-radius: 20px;
  padding: 10px 16px;
}

.comment-input__text {
  overflow: auto;
  max-height: 250px;
  font-size: 12px;
  color: #707070;
}

.add-item-block {
  background-color: rgba(255, 255, 255, 0.5);
}
.icon-add-gallery {
  color: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.block-gallery-details-text {
  position: absolute;
  bottom: -4px;
  color: #fff;
  font-size: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip {
  display: none;
  position: absolute;
  top: 98px;
  left: -28px;
  background-color: #fff;
  color: #1E2834;
  font-size: 13px;
  padding: 2px 10px;
  border-radius: 13px;
  padding: 16px;
  width: 96vw;
}

.tooltip:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  left: 36px;
  top: 0;
  transform: translateY(-50%) rotate(45deg);
}

.show-tooltip {
  animation: bottom 0.5s both;
  display: block;
}

.left-icons {
  display: flex;
  height: 32px;
  justify-content: center;
}

.thrash-icon-container {
  position: relative;
}

.tooltip-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.tooltip-red-button {
  border-radius: 23px;
  color: #fff;
  background-color: #FF3D67;
  font-size: 14px;
  padding: 10px 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-blue-button {
  border: 2px solid #66CCFF;
  border-radius: 24px;
  color: #66CCFF;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bottom {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
      transform: translateY(-50px);
  }
}